

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

#linksContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}


.dividers{
    margin: 0 10px;
}