#formContainer{
    display: flex;
    flex-direction: column;
    margin: 50px 15%;
}

#buttonsContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#localizationContainer{
    margin-top: 20px;
}

